      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center fa-x3">
        <li class="list-inline-item">
                <a class="btn btn-primary btn-sm my-1 mx-0 mx-md-2" href="https://www.facebook.com/ChandraKumalaSchool/" target="_blank" title="Facebook"><i class="fab fa-facebook-square fa-inverse fa-fw"></i></a>
        </li>
  
        <li class="list-inline-item">
                <a class="btn btn-danger btn-sm my-1 mx-0 mx-md-2" href="https://www.youtube.com/chandrakumalaschool" target="_blank"  title="Youtube"><i class="fab fa-youtube fa-inverse fa-fw"></i></a>
        </li>

        <li class="list-inline-item">
                <a class="btn btn-warning btn-sm my-1 mx-0 mx-md-2" href="https://www.instagram.com/chandrakumalaofficial/" target="_blank" title="Instagram"><i class="fab fa-instagram fa-inverse fa-fw"></i></a>
        </li>

        <li class="list-inline-item">
                <a class="btn btn-secondary btn-sm my-1 mx-0 mx-md-2" href="#" title="Calendar"><i class="fa fa-calendar-alt fa-inverse fa-fw" aria-hidden="true"></i></a>
        </li>

        <li class="list-inline-item">
            <a class="btn btn-success btn-sm my-1 mx-0 mx-md-2" href="https://goo.gl/maps/hR95oHnVUdv" target="_blank" title="Navigate to school"><i class="fas fa-map-marker-alt fa-inverse fa-fw"></i></a>
        </li>

        <li class="list-inline-item">
            <a class="btn btn-info btn-sm my-1 mx-0 mx-md-2" href="tel:+62-061-661-6765" target="_blank"  title="Call Us"><i class="fas fa-mobile-alt fa-inverse fa-fw"></i></a>
        </li>

      </ul>

      <!-- Social buttons -->