{% extends "base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

    <section>
        {% for block in page.body %}
            <article>
                {% if block.block_type == 'heading' %}
                    <h2 class="text-center">{{ block.value }}</h2>
                {% elif block.block_type == 'paragraph' %}
                    {{ block.value }}
                {% elif block.block_type == 'image' %}
                    {% image block.value width-400 class="img-fluid" alt="Responsive image" %}
                {% elif block.block_type == 'embed' %}
                    <div class="youtube mx-auto">{{ block.value }}</div>
                {% endif %}
            </article>
        {% endfor %}
    </section>

    <style>
        .google-embed {
            position: relative;
            padding-bottom: 75%; // This is the aspect ratio
            height: 0;
            overflow: hidden;
        }
        .google-embed iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    </style>
    
    <div class="google-embed">
            <iframe src="{{ page.mapurl }}" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>



    <div class="main-text"></div>
        <section>
            {% for block in page.end %}
                <article>
                    {% if block.block_type == 'heading' %}
                        <h2 class="text-center">{{ block.value }}</h2>
                    {% elif block.block_type == 'paragraph' %}
                        {{ block.value }}
                    {% elif block.block_type == 'image' %}
                        {% image block.value width-400 class="img-fluid" alt="Responsive image" %}
                    {% elif block.block_type == 'embed' %}
                        <div class="youtube mx-auto">{{ block.value }}</div>
                    {% endif %}
                </article>
            {% endfor %}
            </section>
    </div>

{% endblock content %}
