{% extends "base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-itempage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}



{% image item.main_image width-400 as tmp_photo %}
{% image item.main_image original as ori_photo %}

<div class="jumbotron">
    <h1 class="display-4">{{ item.title }}</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p>{{ item.text | richtext }}</p>
    <p class="lead">
        <form method="get" action="{{ ori_photo.url }}">
            <button type="btn btn-primary btn-lg submit">View Image</button>
        </form>
        <img src="{{ tmp_photo.url }}" width="{{ tmp_photo.width }}" height="{{ tmp_photo.height }}"
            alt="{{ tmp_photo.alt }}" class="img-fluid img-thumbnail" />

    </p>
</div>


<section class="">
    {% if items %}
    <article class="container">
        <div class="row">
            {% for post in items %}

            {% with post=post.specific %}
            <div class="card mb-3 col-md">
                {% with post.main_image as main_image %}
                {% if main_image %}{% image main_image fill-300x150 class="card-img-top" %}{% endif %}
                {% endwith %}
                <div class="card-body">
                    {% if post.title %}<h5 class="card-title"><a href="{% pageurl post %}">{{ post.title }}</a></h5>
                    {% endif %}
                    {% if post.text %}<p class="card-text">{{ post.text | truncatewords:15 | richtext }}</p>{% endif %}
                    {% if post.date %}<p class="card-text"><small class="text-muted">{{ post.date}}</small></p>
                    {% endif %}
                </div>
            </div>
            {% endwith %}
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div>
    </article>
    <article>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </article>
    {% else %}
    <div class="col-md-12 text-center">
        <p>Sorry no other entries yet, please check back later.</p>
    </div>
    {% endif %}
</>

{% endblock content %}